.sidebarMode #fbChatErrorNub{display:none}
._4rc5._4rc5{background-color:#000;cursor:pointer;position:absolute}._s4g{overflow:hidden;position:relative}#fbTimelineHeadline ._lhh{border-radius:50%}._605a ._lhh{border-radius:50%}._19wj ._lhh{border-radius:50%;height:400px;width:400px}.chrome ._s4g{transform:translateZ(0)}

#bootloader__8EbP{height:42px;}.bootloader__8EbP{display:block!important;}